# RStudio
.Rproj.user
.Rhistory
.Rdata
.Ruserdata
.Renviron
*.Rproj

# VSCode
*.code-workspace
.lintr

# R
.httr-oauth
data-raw
inst/doc
vignettes/articles/_site/
vignettes/articles/data/

# macOS
.DS_Store

# Misc
*_cache
packages.bib
docs
/doc/
/Meta/
